.logo {
	transition: all 0.2s ease;
	background: url('../../../img/Logo.webp') center / contain no-repeat;
	@media (hover) {
		&:hover {
			filter: drop-shadow(0 0 5px rgb(255, 208, 0));
		}
	}
	&__header {
		position: absolute;
		inset: 0;
		width: 250px;
		margin: 0 auto;

		@media (max-width: 800px) {
			@media (max-height: 700px) {
				width: 130px;
			}
		}
	}
	&__footer {
		height: 80px;
		width: 220px;
	}
}
