.cart {
	position: fixed;
	top: 25%;
	right: -0vw;
	z-index: 19;
	transition: all 0.3s ease;
	visibility: hidden;
	opacity: 0;
	cursor: pointer;
  
	&._active {
		right: clamp(15px, 4vw, 50px);
    opacity: 1;
    visibility: visible;
	
		@media (min-width: 1540px){
			right: calc((100vw - 1540px) / 2);
		}
		@media (max-height: 450px){
			top: 40%;
		}
	}

	&__icon {
		box-shadow: 0px 0px 20px rgba(147, 158, 180, 0.5);
		transition: all 0.1s ease;
		border-radius: 50%;
		font-size: 48px;
		background-color: #fff;
		padding: 15px;
		border: transparent;

		background: transparent center center / 0% 0% no-repeat;

		background: var(--main_color);
		background-size: 100% 100%;
		&:hover {
			border: 3px solid #fff;
			box-shadow: 0px 0px 20px rgba(255, 225, 0, 0.5);
			font-size: 60px;
		}
	}
	&__count {
		position: absolute;
		bottom: 0;
		right: 0;
		width: 25px;
		height: 25px;
		color: #000;
		font-size: 14px;
		font-weight: 600;
		text-align: center;
		background: #f7e600;
		box-shadow: 0px 0px 20px rgba(147, 158, 180, 0.5);
		border-radius: 50%;
	}
}
