.main__form {
	background-color: #eceff5;
	padding: 90px 20px;
}
.form p {
	font-weight: 700;
	font-size: 36px;
	line-height: 49px;
	text-align: center;
	padding-bottom: 60px;
	max-width: 750px;
	margin: 0 auto;
}

.form__fields {
	max-width: 900px;
	margin: 0 auto;
	display: flex;
	justify-content: space-evenly;
}
.form__field {
	border: 1px solid #ccc;
	border-radius: 50px;
	padding: 15px 30px;
	color: rgba(38, 38, 38, 0.7);
	font-size: 16px;
	line-height: 150%; /* 24/16 */
}
.form__field:hover {
	box-shadow: 0px 2px 3px #ccc;
}
/* $ Removing arrows from Input Number  */
/* Chrome, Safari, Edge, Opera */
.form__field::-webkit-outer-spin-button,
.form__field::-webkit-inner-spin-button {
  -webkit-appearance: none;
}

/* Firefox */
.form__field[type=number] {
  -moz-appearance: textfield;
}

.form__submit {
	background: var(--color);
	border-radius: var(--button_radius);
	padding: var(--button_padding);
	border-radius: 50px;
	padding: 10px 20px;
	display: flex;
	align-items: center;
	color: #fff;
	font-weight: 700;
	font-size: 24px;
	line-height: 150%; /* 36/24 */
	justify-content: center;
	position: relative;
	padding-right: 65px;
	position: relative;
	transition: all 0.2s ease;
}
.form__submit:hover {
	transform: translate(0, -5px);
	box-shadow: 0px 5px 2px #e4d12a;
}
.form__submit:active {
	transform: translate(0, -0px);
	box-shadow: 0px -0px 5px #ccc;
	/* box-shadow: none; */
	transition: all 0.3s ease;
}

.form__submit div {
	position: absolute;
	top: 50%;
	right: 20px;
	transform: translateY(-50%);
	/* margin-left: 20px; */
	height: 35px;
	width: 35px;
	background-color: #fff;
	border-radius: 50%;
	padding: 7px;
}
.form__submit div img {
	width: 100%;
	height: 100%;
	object-fit: cover;
}

@media (max-width: 800px) {
	.form__fields {
		flex-direction: column;
		row-gap: 15px;
	}
}
