.gallery {
	&__content {
		position: relative;
		display: grid;
		place-items: center;

		height: 250px;
		overflow: hidden;
	}
	&__back {
		position: absolute;
		z-index: -1;
		width: 100%;
		top: 50%;
		left: 50%;
		transform: translate(-50%, -50%);
	}
	&__back_flex {
		display: flex;
		gap: 2px;
		overflow: hidden;
	}
	&__back_img {
		position: relative;
		height: 250px;
		aspect-ratio: 1;
		background-color: rgba(0, 0, 0, 0.65);
		animation: moveLeft 15s linear infinite;

		@keyframes moveLeft {
			0% {
				translate: 0px 0px;
			}
			100% {
				translate: calc(-252px * 6) 0px;
			}
		}
		span {
			width: 100%;
			height: 100%;
			img {
				opacity: 0.5;
				width: 100%;
				height: 100%;
				object-fit: cover;
			}
		}
	}
}
.label {
	position: relative;
	outline: 1px solid #fff;
	outline-offset: -25px;
	padding: 60px 70px;
	width: clamp(250px, 50%, 500px);

	display: flex;
	justify-content: center;
	align-items: center;
	flex-wrap: wrap;
	column-gap: 15px;
	row-gap: 5px;

	font-weight: 700;
	font-size: 36px;
	font-size: clamp(24px, 4vw, 36px);
	line-height: 136.111111%; /* 49/36 */
	color: #fff;

	&::before {
		content: '';
		height: 1.2lh;
		aspect-ratio: 1;
		background: url('../../../../img/svg/icons.svg#instWhite') left center / 100% no-repeat;
	}
	&::after {
		content: '';
		position: absolute;
		inset: 0;
		z-index: -1;
		background: var(--main_color);
		border-radius: 12px;
		opacity: 0.75;
		transition: all 0.3s ease;
	}

	@media (hover) {
		&:hover {
			&::before {
				opacity: 1;
			}
			a {
				text-shadow: 0 0 2px #888;
				img {
					filter: drop-shadow(0 0 1px #888);
				}
			}
		}
	}
}
