$mob_screen: 767.98px;
.hero {
	position: relative;
	height: fit-content;
	margin-bottom: 70px;
	overflow: hidden;

	&__back {
		position: absolute;
		z-index: -1;
		top: 0;
		left: 0;
		width: 100%;
		height: 100%;
		overflow: hidden;
		user-select: none;
		span {
			width: 100%;
			height: 100%;
			background-position: center !important;
			background-size: cover !important;
			img {
				width: 100%;
				height: 100%;
				object-fit: cover;
			}
		}
	}

	&__container {
		position: relative;
	}

	&__content_flex {
		padding: 50px 10px;
		height: 740px;
		display: flex;
		justify-content: space-between;
		column-gap: 10px;
		row-gap: 10px;
		align-items: center;
		overflow: hidden;

		@media (max-width: $mob_screen) {
			height: clamp(500px, 100vw, 740px);
			flex-direction: column;
			align-items: center;
		}
	}
	&__text {
		flex: 0 0 50%;
		max-width: 700px;
		font-size: 16px;
		display: flex;
		flex-direction: column;
		justify-content: center;
		text-align: center;
		text-wrap: pretty;
		h2 {
			font-weight: 700;
			font-size: 2.65em; /*42px*/
			line-height: 135.714286%; /* 57/42 */
			padding-bottom: 20px;
		}
		p {
			font-weight: 700;
			font-size: 1.1em;
			line-height: 150%;
		}
		@media (max-width: $mob_screen) {
			font-size: 12px;
			text-align: center;
		}
	}
	&__pizza {
		position: relative;
		flex: 0 0 50%;
		user-select: none;
		span {
			width: 100%;
			height: 100%;
			background-position: center !important;
			background-repeat: no-repeat;
			animation: rotate 10s linear infinite;
			img {
				width: 100%;
				height: 100%;
				object-fit: contain;
				pointer-events: none;
				rotate: 45deg;
			}
			@keyframes rotate {
				0% {
					transform: rotate(0deg);
				}

				100% {
					transform: rotate(360deg);
				}
			}
		}
	}
}
