$borderRadius: 12px;
$itemBorder: rgba(170, 180, 147, 0.29);

.item {
	display: flex;
	flex-direction: column;

	position: relative;
	width: 100%;
	max-width: 400px;
	height: 100%;
	box-shadow: 0 0 5px 1px #ccc;
	border-radius: $borderRadius;
	background: #fff;
	transition: all 0.3s ease;
	translate: 0 150px;
	opacity: 0;
	scale: 0;
	animation: showUp 0.5s ease forwards;
	
	@keyframes showUp {
		0% {
		}
		100% {
			translate: 0;
			scale: 1;
			opacity: 1;
		}
	}
	@media (hover) {
		&:hover {
			box-shadow: 0px 0px 20px 1px #999;
			&::after {
				box-shadow: 0px 8px 10px 0px #ccc;
			}
		}
		&:hover &__image img {
			transform: scale(1.15);
		}
	}

	&::after {
		content: '';
		position: absolute;
		bottom: 1px;
		left: 50%;
		translate: -50% 100%;
		width: 60px;
		aspect-ratio: 2;
		border-radius: 0 0 50px 50px;
		background-color: #fff;
		box-shadow: 0 5px 10px 0px #ddd;
	}

	&__image {
		width: 100%;
		height: 262px;
		margin-bottom: 20px;
		border-radius: $borderRadius $borderRadius 0 0;
		overflow: hidden;
		span {
			width: 100%;
			height: 100%;
			background-position: center !important;
			background-size: 80% !important;
			background-repeat: no-repeat;

			img {
				width: 100%;
				height: 100%;
				object-fit: cover;
				transition: all 0.3s ease !important;
			}
		}
	}

	h3 {
		padding: 0 20px;
		font-size: 24px;
		font-weight: 700;
		line-height: 150%;
		text-align: center;
	}

	p {
		padding: 0 20px 10px;
		font-size: 16px;
		font-weight: 300;
		line-height: 150%;
		text-align: center;
		text-wrap: pretty;
	}
	&__price {
		flex: 1 1 auto;
		display: flex;
		justify-content: end;
		align-items: end;
		margin-bottom: 5px;
		span {
			display: block;
			font-size: 36px;
			font-weight: 300;
			text-align: right;
			line-height: 150%;
		}
	}
	&__buy {
		position: absolute;
		z-index: 10;
		bottom: -0px;
		left: 50%;
		translate: -50% 50%;
		width: 40px;
		aspect-ratio: 1;
		border-radius: 50%;
		background: #fff url('../../../../img/svg/icons.svg#productAdd') center / 60% no-repeat;
		transition: all 0.1s ease;

		@media (hover) {
			&:hover {
				width: 50px;
				box-shadow: 0px 0px 20px rgba(255, 219, 71, 0.5), indet 0 0 0 1px #fff;
				background: #fdcc06 url('../../../../img/svg/icons.svg#productHover') center / contain no-repeat;
				background-size: 50%;
			}
		}
		&:active {
			width: 50px;
			box-shadow: 0px 0px 20px rgba(255, 219, 71, 0.5), indet 0 0 0 1px #fff;
			background: #fdcc06 url('../../../../img/svg/icons.svg#productHover') center / contain no-repeat;
			background-size: 75%;
		}
	}
}
