$borderRadius: 12px;
$itemBorder: rgba(170, 180, 147, 0.29);
.item {
	display: flex;
	flex-direction: column;

	position: relative;
	width: 100%;
	max-width: 400px;
	height: 100%;

	border-radius: $borderRadius;

	border: 2px solid $itemBorder;
	background: #fff;
	transition: all 0.3s ease;

	&::before,
	&::after {
		content: '';
		position: absolute;
		bottom: 0;
		left: 50%;
		width: 60px;
	}
	&::before {
		aspect-ratio: 1;
		translate: -50% 50%;
		background-color: #fff;
		border: 2px solid $itemBorder;
		border-radius: 50%;
	}
	&::after {
		aspect-ratio: 2;
		translate: -50% 0%;
		background-color: #fff;
	}

	&:hover {
	}
	&__image {
		width: 100%;
		height: 262px;
		margin-bottom: 20px;
		border-radius: $borderRadius $borderRadius 0 0;
		overflow: hidden;

		img {
			width: 100%;
			height: 100%;
			object-fit: cover;
			transition: all 0.3s ease;

			&:hover {
				transform: scale(1.25);
			}
		}
	}

	h3 {
		padding: 0 20px;
		font-size: 24px;
		font-weight: 600;
		line-height: 150%;
	}

	p {
		padding: 0 20px 10px;
		font-size: 16px;
		font-weight: 300;
		line-height: 150%;
	}
	&__price {
		flex: 1 1 auto;
		display: flex;
		justify-content: end;
		align-items: end;
		margin-bottom: 5px;
		span {
			display: block;
			font-size: 36px;
			font-weight: 300;
			text-align: right;
			line-height: 150%;
		}
	}
	&__buy {
		position: absolute;
		z-index: 1;
		bottom: -0px;
		left: 50%;
		translate: -50% 50%;

		width: 40px;
		aspect-ratio: 1;
		border-radius: 50%;
		background: #fff url('../../../../img/svg/ProductAdd.svg') calc(50% + 1px) calc(50% - 2px)
		no-repeat;
		transition: all 0.3s ease;
		
		&:hover {
			width: 50px;
			box-shadow: 0px 0px 20px rgba(255, 219, 71, 0.5);
			background: #fdcc06 url('../../../../img/svg/ProductAddHover.svg') calc(50% + 1px)
				calc(50% - 2px) no-repeat;
		}
	}
}
