.products {
	padding: 70px 20px;

	&__category {
		max-width: 770px;
		margin: 0 auto;
		padding-bottom: 60px;
		display: flex;
		justify-content: space-between;
		flex-wrap: wrap;
		column-gap: 30px;
		row-gap: 20px;
	}
	&__category_button {
		flex: 1 1 150px;

		padding: 5px 20px;
		text-align: center;
		font-size: 24px;
		line-height: 60px; //відповідно висоті контейнеру
		color: #262626;
		height: 100%;
		border-radius: 50px;
		background-color: #eceff5;
		transition: all 0.5s ease;
		cursor: pointer;

		&:hover,
		&[aria-current='page'] {
			background-color: #ffdb47;
			color: #fff;
			font-weight: 700;
		}
	}
	&__items {
		display: grid;
		grid-template-columns: repeat(auto-fill, minmax(273px, 1fr));
		grid-row-gap: 50px;
		grid-column-gap: 30px;
		justify-items: center;
	}
}
