.products {
	padding-bottom: 70px;

	&__category {
		max-width: 770px;
		margin: 0 auto;
		padding-bottom: 60px;
		display: flex;
		justify-content: space-between;
		flex-wrap: wrap;
		gap: 15px;
	}
	&__category_button {
		flex: 1 1 150px;

		padding: 5px 20px;
		text-align: center;
		font-size: 24px;
		line-height: 60px; //відповідно висоті контейнеру
		color: #262626;
		height: 100%;
		border-radius: 50px;
		background-color: #eceff5;
		box-shadow: 0px 4px 10px #ccc;
		transition: all 0.5s ease;
		cursor: pointer;
		// font-weight: 700;

		&[aria-current='page'] {
			background-color: #ffdb47;
			color: #fff;
			text-shadow: 0px 0px 5px #777;
		}
		@media (hover) {
			&:hover {
				background-color: #ffdb47;
				color: #fff;
				text-shadow: 0px 0px 5px #777;
			}
		}
	}
	&__items {
		display: grid;
		grid-template-columns: repeat(auto-fill, minmax(273px, 1fr));
		grid-row-gap: 50px;
		grid-column-gap: 30px;
		justify-items: center;
	}
}
