.delivery {
	height: 100%;
	display: flex;
	flex-direction: column;
	justify-content: space-between;
}
.delivery__content {
	color: #262626;
	padding: 70px 20px;
}
.delivery__rules:not(:last-child) {
	padding-bottom: 100px;
}

.delivery__rules h2{
text-align: center;
	font-weight: 700;
	font-size: 36px;
	line-height: 136.111111%;
	/* 49/36 */
	padding-bottom: 50px;
}

.delivery__rules_flex{
	display: grid;
	grid-template-columns: repeat(auto-fill, minmax(300px, 1fr));
	grid-gap: 50px;
}
.delivery__rule {
	display: flex;
	flex-direction: column;
	align-items: center;
}
.rule__top {
	position: relative;
	height: 120px;
	display: flex;
	align-items: center;
	margin-bottom: 20px;
}
.rule__top_back {
	position: absolute;
	width: 120px;
	height: 120px;
	border-radius: 50%;
	top: 50%;
	left: 50%;
	transform: translate(-50%, -50%);
	z-index: -1;
	background-color: #eceff5b2;
}
.rule__top_img {
	width: 100%;
	height: 100%;
	padding: 5px;
}
.rule__top_payimg {
	position: relative;
	transform: translateX(-40px);
}
.rule__top_img img {
	width: 100%;
	height: 100%;
}
.rule__text_green {
	background: linear-gradient(92.06deg, #2ec674 3.15%, #9de73e 96.53%);
}
.rule__text_yellow {
	background: linear-gradient(180deg, rgba(198, 182, 46, 1) 0%, rgba(227, 231, 62, 1) 100%);
}
.rule__text_red {
	background: linear-gradient(92.06deg, #ff7347 3.15%, #fd9a06 96.53%);
}
.rule__top_text {
	align-self: end;
	font-weight: 700;
	font-size: 42px;
	line-height: 135.714286%;
	/* 57/42 */

	/* Далі розмальовування тексу */
	-webkit-background-clip: text;
	/* дозволяє розфарбовувати лише текст */
	background-clip: text;
	color: transparent;
	/* робить колір тексту за замовчуванням - прозорим */

	text-shadow: 0px 1px 5px rgba(0, 0, 0, 0.1);
}
.rule__title {
	display: block;
	font-size: 24px;
	margin-bottom: 15px;
	font-weight: 700;
	text-align: center;
}
.rule__subtitle {
	font-size: 20px;
	line-height: 150%;
	/* 36/24 */

	text-align: center;
}
