.header__adress {
	flex: 1 1;
	display: flex;
	flex-wrap: wrap;
	column-gap: 20px;
	row-gap: 10px;
}
.header__adress > div {
	margin: 0;
	display: flex;
	align-items: center;
	gap: 10px;
}
@media (max-width: 800px){
.header__adress {
		flex: 1 1;
		display: flex;
		flex-direction: column;
		align-self: center;
		row-gap: 40px;
	}
	.header__adress > div {
		margin: 0;
		display: flex;
		flex-direction: column;
		align-items: center;
		gap: 15px;
	}
	.header__adress p,
	a {
		font-size: 20px;
	}
}