.header {
	&__nav {
		height: 100%;
		display: grid;
		text-align: center;
		grid-template-columns: repeat(3, auto);
		place-self: center;
		place-items: center;
		gap: 5px;
	}

	&__link {
		position: relative;
		height: 75%;
		padding: 5px 20px;
		display: grid;
		place-items: center;
		background: var(--main_color) left 3.25rem / 0% 2px no-repeat;
		transition: background 0.3s ease;
		color: #bbb;
		text-wrap: nowrap;

		&[aria-current='page'],
		&:focus {
			background-size: 100% 2px;
			color: #fff;
		}
		@media (hover) {
			&:hover {
				color: #fff;
				background-size: 100% 2px;
			}
		}
	}

	@media (max-width: 800px) {
		&__nav {
			place-self: end;
			height: fit-content;
			padding-right: 30px;
			display: flex;
			flex-direction: column;
			align-items: end;
		}
		&__link {
			font-size: 32px;
			line-height: 130%;
			position: relative;
			transition: all 0.3s ease;
			padding: 25px 40px;
			background: var(--main_color) left 4.5rem / 0% 2px no-repeat;
		}
	}
}
