.header__nav {
	height: 100%;
	display: grid;
	text-align: center;
	grid-template-columns: repeat(3, auto);
	place-items: center;
	gap: 5px;
}

.header__link {
	position: relative;
	height: 75%;
	display: grid;
	place-items: center;
	padding: 5px 20px;
	white-space: nowrap;
	/* border: none; */
	border-radius: var(--button_radius);
	overflow: hidden;
	background: transparent;
	transition: all 0.3s ease;
}
.header__link[aria-current='page']::before {
	background: var(--color);
	border-radius: var(--button_radius);
	padding: var(--button_padding);

	opacity: 1;
	translate: 0 50%;
	border-radius: var(--button_radius);
}

.header__link::before {
	content: '';
	position: absolute;
	inset: 0;
	z-index: -1;
	display: block;
	width: 100%;
	height: 50%;
	translate: 0 200%;
	background: var(--color);
	opacity: 0;
	transition: all 0.3s cubic-bezier(0, 1.17, 0.2, 0.96);
}
.header__link:not([aria-current='page']):hover::before {
	opacity: 1;
	translate: 0 50%;
	border-radius: var(--button_radius);
}
