.about__container {
	padding: 0px 20px;
	height: fit-content;

}
.about__content_flex {
	display: flex;
	gap: 70px;
	flex-direction: column;
	padding-bottom: 90px;
}


@media (max-width: 900px) {
	.about__content_flex {
    row-gap: 75px;
	}
}
