.about__container {
	// padding: 0px 10px;
	// height: fit-content;
	position: relative;
}
.about__content_flex {
	display: flex;
	gap: 70px;
	flex-direction: column;
	padding-bottom: 90px;
	
	@media (max-width: 900px) {
		row-gap: 75px;
	}
}
