.about__media {
	position: relative;
	/* bottom: 0; */
	left: 50%;
	translate: -50% -0%;
	margin-top: -15%;
	margin-bottom: 70px;
	max-width: 90%;
	display: flex;
	justify-content: center;
	gap: 35px;
}

@media (max-width: 700px) {
	.about__media {
	}
}
@media (max-width: 400px) {
	.about__media {
	}
}
