body {
	--mw_page: 1300px;
	--color: linear-gradient(92.06deg, #ffdb47 3.15%, #fdcc06 96.53%);
	--mob_width: 800px;
	
	--button_radius: 50px;
	--button_padding: 5px 20px;
}

/*@ Основні кнопки та виділення активних сторінок в шапці */
.mixin_button_bk {

	background: var(--color);
	border-radius: var(--button_radius);
	padding: var(--button_padding);
}
